<!-- <div *ngIf="selectedItem">
    <h2>Selected item: {{selectedItem.name}}</h2>
    <div><span>id: </span>{{selectedItem.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedItem.name" placeholder="name" #allo="ngModel" />
        </label>
    </div>
    <div>
        <label>is complete:
            <input type="checkbox" [(ngModel)]="selectedItem.bool" />
        </label>
    </div>
    <p>{{allo.model}} </p>
</div>


<h1>List</h1>
<div *ngIf="items.length != 0">
    <div *ngFor="let item of items" [class.selected]="item === selectedItem" (click)="onSelect(item)">
        {{item.id}}, {{item.date|date:'yyyy-MM-dd'}}
    </div>
</div> -->

